<ion-menu side="start" menuId="first" contentId="menu">
  <ion-header>
    <ion-toolbar>
      <ion-item routerLink="/profile">
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label slot="start">
          <h3>Carlos Valdés</h3>
          <p>Ver Perfil</p>
        </ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngFor="let menuItem of menuItems">
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="menuItem.url" routerDirection="forward">
          <ion-icon [name]="menuItem.icon" slot="start"></ion-icon>
          {{menuItem.text}}
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
