<ion-header>
  <app-navbar [navbar]="navbar"></app-navbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-item>
    <ion-icon slot="start" name="switch"></ion-icon>
    <ion-label>Filtros</ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="https://i.picsum.photos/id/958/150/150.jpg" />
          <ion-card-header>
            <ion-card-title>Antes <b>$19.990</b></ion-card-title>
            <ion-card-subtitle>Ahora <ion-text color="success">$14.990</ion-text></ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="https://i.picsum.photos/id/958/150/150.jpg" />
          <ion-card-header>
            <ion-card-title>Antes: <b>$19.990</b></ion-card-title>
            <ion-card-subtitle>Ahora <ion-text color="success">$14.990</ion-text></ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
