<ion-header>
  <app-navbar [navbar]="navbar"></app-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img src="{{offerSelected.img}}"></ion-img>
    <ion-card-header>
      <ion-card-title>{{offerSelected.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>{{offerSelected.description}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-title class="ion-text-center">¡No te pierdas estas ofertas!</ion-title>

  <ion-card>
    <ion-img src="{{offerSelected.img}}"></ion-img>
  </ion-card>
  <ion-card>
    <ion-img src="{{offerSelected.img}}"></ion-img>
  </ion-card>
  <ion-card>
    <ion-img src="{{offerSelected.img}}"></ion-img>
  </ion-card>

</ion-content>
